{% extends 'base.html' %}
{% block content %}

<h1 class="text-center">Backups</h1>

<div class="d-flex flex-column mb-3 mt-5 padre align-items-center">

    <form method="POST" action="/backups/" id="cargaBackup">
		{% csrf_token %}
		<button class="btn btn-outline-success mb-3" name="generar">Generar backup</button>
	</form>

    <h3 class="text-center">Backups Google Drive:</h3>
    <a class="btn btn-outline-primary" name="ver" href="https://drive.google.com/drive/folders/{{carpeta}}" target="_blank">Ver backups online</a>
    <p>{{ lastBackup|date:"l, j F Y, H:i:s" }}</p>

    <h3 class="text-center">Backups locales:</h3>
    <a href="file:///{{carpetaBackups}}">{{carpetaBackups}}</a>
    <textarea class="form-control mb-3" id="" aria-label="With textarea" placeholder="Vacio" style="max-width: 22em; min-height: 9em; white-space: nowrap;">{{ backups }}</textarea>

    <h4 class="text-center">Archivos cargados:</h4>
    <span>Sin backup</span>
    <a href="file:///{{carpetaMedia}}">{{carpetaMedia}}</a>

</div>

{% endblock %}