{% extends 'base.html' %}
{% block content %}

<h1 class="text-center">Backups</h1>

<div class="d-flex flex-column mb-3 mt-5 padre align-items-center">

    <a class="btn btn-outline-primary" name="ver" href="https://drive.google.com/drive/folders/{{carpeta}}" target="_blank">Ver backups online</a>

    <h3 class="text-center">Fecha de último backup Gdrive:</h3>
    <p>{{ lastBackup|date:"l, j F Y, H:i:s" }}</p>

    <h3 class="text-center">Backups locales:</h3>
    <textarea class="form-control" id="" aria-label="With textarea" placeholder="Vacio" style="max-width: 22em; min-height: 6em; white-space: nowrap;">{{ backups }}</textarea>

    <form method="POST" action="/backups/" id="cargaBackup">
		{% csrf_token %}
		<button class="btn btn-outline-success" name="generar">Generar backup</button>
	</form>

    <button class="btn btn-outline-secondary mt-5" name="" disabled>Botón para actualizar aplicación</button>

</div>

{% endblock %}