{% extends 'base.html' %}
{% block content %}

<h1 class="text-center">Apellido, nombre</h1>

<div class="d-flex flex-column mb-3 padre align-items-center">

	<div class="d-flex flex-row bd-highlight mb-3 botones justify-content-around">
		<button type="button" class="btn btn-outline-primary">Cambiar datos</button>
		<button type="button" class="btn btn-outline-secondary">Desactivar paciente</button>
	</div>
	

	<div class="d-flex flex-wrap flex-row mb-3 lista justify-content-center">
	  <div class="p-2 paciente">
		<p class="titulo">Datos del paciente</p>
		<fieldset disabled>
		<div class="p-2">
			<label for="nacimiento" class="form-label">Nacimiento:</label>
			<div class="d-flex flex-row align-items-end"> 
				<input type="text" class="form-control w-50" value="1994-12-31" id="nacimiento">
				<label class="form-label ms-3">30 años</label>
			</div>
		</div>
		<div class="p-2">
			<label for="dni" class="form-label">DNI:</label>
			<input type="text" class="form-control w-50" value="99000222" id="dni">
        </div>
		<div class="d-flex flex-row"> 
			<div class="p-2">
				<label for="obra" class="form-label">Obra social:</label>
				<input type="text" class="form-control " value="PAMI" id="obra">
			</div>
			<div class="p-2">
				<label for="afiliado" class="form-label">Número de afiliado:</label>
				<input type="text" class="form-control " value="20333555" id="afiliado">
			</div>
		</div>
		
		<div class="d-flex flex-row"> 
			<div class="p-2">
				<label for="tel" class="form-label">Teléfono:</label>
				<input type="text" class="form-control " value="11 2233 4455" id="tel">
			</div>
			<div class="p-2">
				<label for="localidad" class="form-label">Localidad:</label>
				<input type="text" class="form-control " value="Olivos" id="localidad">
			</div>
		</div>
		</fieldset>

		<button type="button" class="btn btn-outline-secondary float-end">Copiar datos</button>
	  </div>
	  <div class="p-2 paciente">
		<p class="titulo">Comentarios</p>
		<textarea class="form-control comentario" aria-label="With textarea">Tiene 2 chihuahuas y quiere hacer un negocio de criaderos</textarea>
		<div class="d-flex justify-content-center"> 
			<button type="button" class="btn btn-outline-success mt-3">Guardar</button>
		</div>
	  </div>
	</div>


</div>

<h2 class="text-center">Historia clínica</h1>

<div class="d-flex flex-column mb-3 padre align-items-center">

	<div class="d-flex flex-row bd-highlight mb-3 botones justify-content-around">
		<button type="button" class="btn btn-outline-primary">Nueva entrada</button>
		<button type="button" class="btn btn-outline-secondary">Viendo nuevas primero <i class="las la-arrow-down"></i> <i class="las la-arrow-up"></i></button>
	</div>
	

	<div class="d-flex flex-column mb-3 lista align-items-center">
	  <div class="p-2 entrada">
		<p class="titulo">31 de diciembre de 2024</p>
		<textarea class="form-control detalle" aria-label="With textarea">Hoy el paciente se portó bien y le recetamos muchas pastillas</textarea>
	  </div>
	  <div class="p-2 entrada">Flex item 2</div>
	  <div class="p-2 entrada">Flex item 3</div>
	</div>

	<nav aria-label="Page navigation example">
	  <ul class="pagination">
		<li class="page-item"><a class="page-link" href="#">Previous</a></li>
		<li class="page-item"><a class="page-link" href="#">1</a></li>
		<li class="page-item"><a class="page-link" href="#">2</a></li>
		<li class="page-item"><a class="page-link" href="#">3</a></li>
		<li class="page-item"><a class="page-link" href="#">Next</a></li>
	  </ul>
	</nav>

</div>

{% endblock %}