{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-around mb-4">
	<div class="hidden widthBoton"></div>
	<h1 class="text-center">{{ persona.apellido }}, {{ persona.nombre }}</h1>
	<form method="POST" action="/perfil/{{persona.id}}/activo" id="">
		{% csrf_token %}
		<button type="submit" class="btn widthBoton btn-{% if persona.activo %}outline-secondary{% else %}success{% endif %}">{% if persona.activo %}Desactivar paciente{% else %}Activar paciente{% endif %}</button>
	</form>
</div>


{% if messages %}
	{% for message in messages %}
		<div class="alert alert-warning" role="alert">
			{% if message.tags %}{{ message.tags }}: {% endif %}{{ message }}
		</div>
	{% endfor %}
{% endif %}

<div class="">	

	<div class="d-flex flex-wrap flex-row mb-3 lista justify-content-center">
		<div class="izquierda">
			<div class="d-flex justify-content-around">
				<h3 class="text-center">Datos del paciente</h3>
				<button type="button" class="btn btn-outline-primary" id="cambiar">Cambiar datos</button>
			</div>
			<div class="d-flex flex-column mb-3 padre align-items-center">
				<div class="p-2 paciente">
					<form method="POST" action="/perfil/{{persona.id}}" id="cargaDatos" style="visibility: hidden; position: absolute">
						{% csrf_token %}
						{{ form.as_p }}
						<button class="btn btn-success" name="cargarDatos">Cargar</button>
					</form>
					<fieldset disabled id="displayDatos">
						<div class="p-2">
							<label for="nacimiento" class="form-label">Nacimiento:</label>
							<div class="d-flex flex-row align-items-end"> 
								<input type="text" class="form-control w-50" value="{{ persona.nacimiento }}" id="nacimiento">
								<label class="form-label ms-3">{{ edadHoy }} años</label>
							</div>
						</div>
						<div class="p-2">
							<label for="dni" class="form-label">DNI:</label>
							<input type="text" class="form-control w-50" value="{{ persona.dni }}" id="dni">
						</div>
						<div class="d-flex flex-row"> 
							<div class="p-2">
								<label for="obra" class="form-label">Obra social:</label>
								<input type="text" class="form-control " value="{{ persona.obraSocial }}" id="obra">
							</div>
							<div class="p-2">
								<label for="afiliado" class="form-label">Número de afiliado:</label>
								<input type="text" class="form-control " value="{{ persona.afiliado }}" id="afiliado">
							</div>
						</div>
						<div class="d-flex flex-row"> 
							<div class="p-2">
								<label for="obra2" class="form-label">Obra social 2:</label>
								<input type="text" class="form-control " value="{{ persona.obraSocial2 }}" id="obra2">
							</div>
							<div class="p-2">
								<label for="afiliado2" class="form-label">Número de afiliado 2:</label>
								<input type="text" class="form-control " value="{{ persona.afiliado2 }}" id="afiliado2">
							</div>
						</div>
						
						<div class="d-flex flex-row"> 
							<div class="p-2">
								<label for="tel" class="form-label">Teléfono:</label>
								<input type="text" class="form-control " value="{{ persona.telefono }}" id="tel">
							</div>
							<div class="p-2">
								<label for="email" class="form-label">Email:</label>
								<input type="text" class="form-control " value="{{ persona.email }}" id="email">
							</div>
						</div>
						<div class="d-flex flex-row"> 
							<div class="p-2">
								<label for="localidad" class="form-label">Localidad:</label>
								<input type="text" class="form-control " value="{{ persona.localidad }}" id="localidad">
							</div>
							<div class="p-2">
								<label for="extra" class="form-label">Dato extra:</label>
								<input type="text" class="form-control " value="{{ persona.extras }}" id="extra">
							</div>
						</div>
					</fieldset>

					<button type="button" class="btn btn-outline-secondary float-end" placeholder="Copiar datos"></button>
				</div>
				<div class="p-2 paciente">
					<div class="d-flex justify-content-between">
						<p class="titulo">Comentarios</p>
						<button type="" class="btn saveIndicator" id="status" disabled ></button>
					</div>
					<textarea class="form-control comentario" id="comentarios" data-id="{{ persona.id }}" aria-label="With textarea" placeholder="Recuerdos personales del paciente">{{ persona.comentarios }}</textarea>
				</div>
			</div>

		</div>
		<div class="derecha">
			<h3 class="text-center">Historia clínica</h3>

			<div class="d-flex flex-column mb-3 padre align-items-center">

				<button type="button" class="btn btn-outline-secondary hiddenn">Viendo nuevas primero <i class="las la-arrow-down"></i> <i class="las la-arrow-up"></i></button>
				<fieldset id="">
					<input type="date" class="form-control" id="editDate" max="{{ diaHoy|date:'Y-m-d' }}" value="{{ diaElegido|date:'Y-m-d' }}">
				</fieldset>

				<div class="d-flex flex-column mb-3 lista align-items-center">
					<div class="p-2 entrada">
						{% if diaHoy == diaElegido %}
						<p class="titulo">Hoy:</p>{% else %}
						<div class="d-flex justify-content-between">
							<p class="titulo">Dia anterior:</p>
							<a href="/perfil/{{persona.id}}" class="btn btn-primary" style="height: 2.4em;">Volver a hoy</a>
						</div>
						{% endif %}
																			
						<div class="d-flex justify-content-between">
							<p class="titulo">{{ diaElegido|date:"l, j F Y" }}</p>
							<button type="" class="btn saveIndicator" id="statusEntrada" disabled></button>
						</div>
						<textarea class="form-control detalle" id="entradaHoy" aria-label="With textarea" placeholder="Escribir aquí la historia clínica del día {{ diaElegido|date:'l, j F Y' }}">{{ entradaElegida.comentarios }}</textarea>
						<form method="POST" action="/perfil/{{persona.id}}" id="cargaImg" enctype="multipart/form-data">
							{% csrf_token %}
							<input type="" name="fecha" required id="id_fecha" value="{{ diaElegido|date:'Y-m-d' }}" class="hiddenn">
							<input type="file" name="imagen" accept="image/*" required id="id_imagen">
							<button class="btn btn-outline-primary" name="cargaImagen">Subir imagen</button>
						</form>
						{% for img in imagenes %}
							<a href="{{img.imagen.url}}" target="_blank"><img src="{{img.imagen.url}}" style="width: 100px;"></a>
						{% endfor %}
					</div>
					{% for entrada in entradas %}
					<div class="p-2 entrada">
						<p class="titulo">{{ entrada.fecha|date:"l, j F Y" }}</p>
						<textarea class="form-control detalle mb-2" aria-label="With textarea" placeholder="Vacia" disabled>{{ entrada.comentarios }}</textarea>
						{% for img in entrada.imagenes.all %}
							<a href="{{img.imagen.url}}" target="_blank"><img src="{{img.imagen.url}}" style="width: 100px;"></a>
						{% empty %}
							.
						{% endfor %}
					</div>
					{% endfor %}
				
				</div>

			</div>
		</div>

	</div>


</div>



{% endblock %}