{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-around mb-4">
	<div class="hidden widthBoton"></div>
	<h1 class="text-center">{{ persona.apellido }}, {{ persona.nombre }}</h1>
	<form method="POST" action="/perfil/{{persona.id}}/activo" id="">
		{% csrf_token %}
		<button type="submit" class="btn widthBoton btn-{% if persona.activo %}outline-secondary{% else %}success{% endif %}">{% if persona.activo %}Desactivar paciente{% else %}Activar paciente{% endif %}</button>
	</form>
</div>


{% if messages %}
	{% for message in messages %}
		<div class="alert alert-warning" role="alert">
			{% if message.tags %}{{ message.tags }}: {% endif %}{{ message }}
		</div>
	{% endfor %}
{% endif %}

<div class="">	

	<div class="d-flex flex-wrap flex-row mb-3 lista justify-content-center">
		<div class="izquierda">
			<div class="d-flex justify-content-around">
				<h3 class="text-center">Datos del paciente</h3>
				<button type="button" class="btn btn-outline-primary" id="cambiar">Cambiar datos</button>
			</div>
			<div class="d-flex flex-column mb-3 padre align-items-center">
				<div class="p-2 paciente">
					<form method="POST" action="/perfil/{{persona.id}}" id="cargaDatos" class="d-flex flex-wrap gap-2" style="visibility: hidden; position: absolute">
						{% csrf_token %}
						{{ form }}
						<button class="btn btn-success w-25" name="cargarDatos">Cargar</button>
					</form>
					{% include "includes/_personal_display.html" %}
					<button type="button" class="btn btn-outline-secondary float-end" placeholder="Copiar datos"></button>
				</div>
				<div class="p-2 paciente">
					<div class="d-flex justify-content-between">
						<p class="titulo">Comentarios</p>
						<button type="" class="btn saveIndicator" id="status" disabled ></button>
					</div>
					<textarea class="form-control comentario" id="comentarios" data-id="{{ persona.id }}" aria-label="With textarea" placeholder="Recuerdos personales del paciente">{{ persona.comentarios }}</textarea>
				</div>
			</div>

		</div>
		<div class="derecha">
			<h3 class="text-center">Historia clínica</h3>

			<div class="d-flex flex-column mb-3 padre align-items-center">

				<button type="button" class="btn btn-outline-secondary hiddenn">Viendo nuevas primero <i class="las la-arrow-down"></i> <i class="las la-arrow-up"></i></button>
				<fieldset id="">
					<input type="date" class="form-control" id="editDate" max="{{ diaHoy|date:'Y-m-d' }}" value="{{ diaElegido|date:'Y-m-d' }}">
				</fieldset>

				<div class="d-flex flex-column mb-3 lista align-items-center">
					<div class="p-2 entrada">
						{% if diaHoy == diaElegido %}
						<p class="titulo">Hoy:</p>{% else %}
						<div class="d-flex justify-content-between">
							<p class="titulo">Dia anterior:</p>
							<a href="/perfil/{{persona.id}}?&page={{ page.num }}" class="btn btn-primary" style="height: 2.4em;">Volver a hoy</a>
						</div>
						{% endif %}
																			
						<div class="d-flex justify-content-between">
							<p class="titulo">{{ diaElegido|date:"l, j F Y" }}</p>
							<button type="" class="btn saveIndicator" id="statusEntrada" disabled></button>
						</div>

						{% if APP_FLAVOR == 'OPTICAL' %}{% include "includes/_optical_form.html" %}
						{% else %}<textarea class="form-control detalle" id="entradaHoy" aria-label="With textarea" placeholder="Escribir aquí la historia clínica del día {{ diaElegido|date:'l, j F Y' }}">{{ entradaElegida.comentarios }}</textarea>{% endif %}
						
						<form method="POST" action="/perfil/{{persona.id}}" id="cargaImg" enctype="multipart/form-data">
							{% csrf_token %}
							<input type="" name="fecha" required id="id_fecha" value="{{ diaElegido|date:'Y-m-d' }}" class="hiddenn">
							<input type="file" class="form-control" id="myinputfile" name="archivo" required id="id_archivo">
							<button class="btn btn-outline-primary" id="btn-upload" name="cargaArchivo">Subir archivo</button>
						</form>
						<div class="d-flex justify-content-between mt-2">
							{% if imagenes %}
							<div {% if archivos %} style="max-width: 50%;" {% endif %}>
								{% for img in imagenes %}
									<a href="{{img.archivo.url}}" target="_blank" class="img-container"><img src="{{img.archivo.url}}" class="miniatura">
										<form method="POST" action="/imagenes/{{img.id}}" class="d-inline">
											{% csrf_token %}
											<button class="p-0 border-0 bg-transparent shadow-none d-block" name="borrar" onclick="return confirm('Desea borrar {{img.filename}}?')">
												<i class="las la-trash trash over-img"></i>
											</button>
										</form>
									</a>
								{% endfor %}
							</div>
							{% endif %}
							{% if archivos %}
							<div style="max-width: 50%;">
								{% for file in archivos %}
									<span style="display: block;">
										<form method="POST" action="/archivos/{{file.id}}" style="display: inline-block">
											{% csrf_token %}
											<button class="p-0 border-0 bg-transparent shadow-none" name="borrar" onclick="return confirm('Desea borrar {{file.filename}}?')">
												<i class="las la-trash trash"></i>
											</button>
										</form>
										<a href="{{file.archivo.url}}" target="_blank" style="display: inline-block;">{{file.filename}}</a>
									</span>
								{% endfor %}
							</div>
							{% endif %}
						</div>
					</div>
					{% for entrada in entradas %}
					<div class="p-2 entrada">
						<p class="titulo" style="margin-bottom: .5rem;">{{ entrada.fecha|date:"l, j F Y" }}</p>

						{% if APP_FLAVOR == 'OPTICAL' %}{% include "includes/_optical_display.html" %}
						{% else %}<textarea class="form-control detalle mb-2" aria-label="With textarea" placeholder="Vacia" disabled>{{ entrada.comentarios }}</textarea>{% endif %}
						
						<div class="d-flex justify-content-between">
							{% if entrada.imagenes.all %}
							<div {% if entrada.archivos.all %} style="max-width: 50%;" {% endif %}>
								{% for img in entrada.imagenes.all %}
									<a href="{{img.archivo.url}}" target="_blank"><img src="{{img.archivo.url}}" class="miniatura mb-1"></a>
								{% endfor %}
							</div>
							{% endif %}
							{% if entrada.archivos.all %}
							<div style="max-width: 50%;">
								{% for file in entrada.archivos.all %}
									<span><a href="{{file.archivo.url}}" target="_blank" style="display: block;">{{file.filename}}</a></span>
								{% endfor %}
							</div>
							{% endif %}
						</div>
					</div>
					{% endfor %}
					<span>{{page.itemcount}} entradas</span>
					<nav aria-label="Page navigation">
						<ul class="pagination">
							<li class="page-item {% if page.num < 2 %}disabled{% endif %}">
								<a class="page-link" href="?{{ currentParams }}&page={{ page.prev }}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							{% if page.num != 1 %}<li class="page-item"><a class="page-link" href="?{{ currentParams }}&page=1">1</a></li>{% endif %}
							<li class="page-item disabled"><a class="page-link">{{ page.num }}</a></li>
							{% if page.num != page.total %}<li class="page-item"><a class="page-link" href="?{{ currentParams }}&page={{ page.total }}">{{ page.total }}</a></li>{% endif %}
							<li class="page-item {% if page.num >= page.total %}disabled{% endif %}">
								<a class="page-link" href="?{{ currentParams }}&page={{ page.next }}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				
				</div>

			</div>
		</div>

	</div>


</div>



{% endblock %}