APP_FLAVOR=OPTICAL# Options: 'GENERAL', 'OPTICAL'
MEDIA_ROOT=media#C:\consultorio\media
BACKUP_LOCATION=backups#C:\consultorio\backups
RESTORED_TRASH_PATH=trashed#C:\consultorio\trashed
DATABASE=db.sqlite3
DRIVE_FOLDER_ID=FaltaFolderID
SHOW_GIT_VERSIONS=False
DAYS_LOCAL_FREQ=1
DAYS_ONLINE_FREQ=2