APP_FLAVOR=OPTICAL# Options: 'GENERAL', 'OPTICAL'
BACKUP_LOCATION=backups/# "C:\\backupsConsultorio\\"
DRIVE_FOLDER_ID=
SHOW_GIT_VERSIONS=True
DAYS_LOCAL_FREQ=1
DAYS_ONLINE_FREQ=2
DATABASE=db.sqlite3
MEDIA_ROOT=media# "C:\\mediaConsultorio"