

.padre{
	
	gap: 10px;
	margin: 10px;
}

.lista{

	gap: 10px;
	width: 100%;
}

.icono{
	font-size: 45px;
	background: black;
	color: white;
	border-radius: 15px;
	margin-right:5px;
}

.botones{

	width: 100%;
}

.paciente{
	border: 2px solid;
	border-color:firebrick;
	border-radius: 8px;
	min-width: 500px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.paciente:hover{

	background-color:floralwhite;
}

p b {
	font-weight: 500;
}

#buscador{
	max-width: 500px;
}

.titulo{

	font-size: 20px;
}

.datos{
	max-height: 120px;
}

@media (width <= 920px) {
	div p{
		margin-bottom: 0px;
	}
	.datos{
		max-height: 150px;
	}
	.paciente{
		min-width: 100px;
		width: 500px;
		max-width: 100%;
	}
}