

.padre{
	
	gap: 10px;
	margin: 10px;
}

.lista{

	gap: 10px;
	width: 100%;
}

.icono{
	font-size: 45px;
	background: black;
	color: white;
	border-radius: 15px;
	margin-right:5px;
}

.botones{

	width: 100%;
}

.paciente{
	border: 2px solid;
	border-color:firebrick;
	border-radius: 8px;
	width:100%;
	max-width: 500px;
}

.paciente:hover{

	background-color:floralwhite;
}
.comentario{

	height: 300px;
}

.entrada{
	border: 2px solid;
	border-color:firebrick;
	border-radius: 8px;
	width:96%;
	max-width: 1500px;
}

.entrada:hover{

	background-color:floralwhite;
}

#entradaHoy{
	min-height: 150px;
}

.titulo{

	font-size: 20px;
}

.detalle{

	height: 100px;
}

.desactivado{
	background: repeating-linear-gradient(
	45deg, 
	#cc7777, #eebbbb 5px,
	#eeeeee 20px, #ffffff 200px
	);
}

button.saveIndicator{
	min-width: 150px;
	border: none;
}

.hidden{
	visibility: hidden;
}

.widthBoton{
	width: 11em;
}

.izquierda{
	width: 40%;
}

.derecha {
	width: 58%;
}

@media (width <= 920px) {
	.izquierda{
		width: 100%;
	}

	.derecha {
		width: 100%;
	}
	.widthBoton{
		width: 6em;
	}
}