

.padre{
	
	gap: 10px;
	margin: 10px;
}

.lista{

	gap: 10px;
	width: 100%;
}

.icono{
	font-size: 45px;
	background: black;
	color: white;
	border-radius: 15px;
	margin-right:5px;
}

.botones{

	width: 100%;
}

.paciente{
	border: 2px solid;
	border-color:firebrick;
	border-radius: 8px;
	width:100%;
	max-width: 500px;
}

.paciente:hover{

	background-color:floralwhite;
}
.form-control.comentario{
	min-height: 250px;
	max-height: 800px;
	field-sizing: content;
}

#togglerVer{
	letter-spacing: .2em;
	padding-inline: 2em;
	display: inline;
	padding-block: .2em;
	margin-top: .5em;
	font-size: .9em;
	cursor: ns-resize;
	user-select: none;
}
#togglerVer:hover{
	background-color:lightpink;
}

.entrada{
	border: 2px solid;
	border-color:firebrick;
	border-radius: 8px;
	width:96%;
	max-width: 1500px;
}

.entrada:hover{

	background-color:floralwhite;
}

a.daylink{
	color: var(--bs-dark);
	text-decoration: unset;
	display: block;
	width: fit-content;
}
a.daylink:hover{
	color: var(--bs-link-hover-color);
}

#entradaHoy{
	min-height: 150px;
}

.titulo{

	font-size: 20px;
}

.detalle{

	height: 100px;
}

.desactivado{
	background: repeating-linear-gradient(
	45deg, 
	#ffcccc, #eedddd 5px,
	#eeeeee 20px, #ffffff 200px
	);
}

button.saveIndicator{
	min-width: 150px;
	border: none;
}

.hidden{
	visibility: hidden;
}

.hiddenn{
	visibility: hidden;
	position: absolute;
}

.widthBoton{
	width: 11em;
}

.izquierda{
	width: 40%;
}

.derecha {
	width: 58%;
}

#myinputfile{
	width: calc(100% - 8.5em);
	display: inline;
}

#btn-upload{
	width: 8em;
}

.miniatura{
	max-width: 100px;
	max-height: 100px;
}

.myArea{
	width: 100%;
	/*height: 50px;*/
	field-sizing: content;
}

textarea.cajita{
	display: inline-block;
	vertical-align: middle;
	width: 80%;
}

input.cajita{
	display: inline-block;
	vertical-align: middle;
	width: 27%;
}

.label-1{
	width: 20%;
	vertical-align: middle;
	/*white-space: nowrap;*/
	text-align: right;
	min-width: max-content;
}

.label-1-doble{
	width: 20%;
	vertical-align: middle;
	-webkit-line-clamp: 3;
	display: -webkit-inline-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-align: right;
}

.label-2{
	width: 5%;
	vertical-align: middle;
	white-space: nowrap;
	text-align: right;
	min-width: max-content;
}

#subjetivo .cajita{
	width: 80%;
}

form fieldset{
	border: 1px #B0B0B0 solid;
}

form fieldset:hover{
	background-color:antiquewhite;
}

fieldset legend{
	float: none;
	width: auto;
	margin-bottom: 0;
	font-size: 1.2em;
}

div h5 {
	margin-bottom: 0;
	margin-top: .5rem;
}

.mediciones span{
	margin-right: 0.89rem;
	white-space: pre;
}

.mediciones b{
	font-weight: 500;
	white-space: pre-line;
	display: inline-block;
	padding-right: 2px;
}

.img-container{
	position: relative;
	display: inline-block;
}

.over-img{
	position: absolute;
    bottom: 2px;
    right: 0px;
}

.trash{
	font-size: 24px;
	color: black;
}

.trash:hover{
	background-color: firebrick;
	border-radius: 15px;
}

.text label{
	min-width: unset;
}

.input-entrada {
  container-type: inline-size;
  container-name: formEntrada;
}

.entrada-optica{
	width: 50%;
}
@media (width < 576px) {
	.entrada-optica{
		width: 100%;
	}
}

@media (width <= 920px) {
	.izquierda{
		width: 100%;
	}

	.derecha {
		width: 100%;
	}
	.widthBoton{
		width: 6em;
	}
}

@container formEntrada (width <= 440px) {
  .text label{
		display: block;
		width: 100%;
		text-align: unset;
	}
}

@container formEntrada (width <= 816px) {
	#subjetivo .cajita{
		width: 100%;
	}
}